.about-page {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    height: 83vh;
    background-color: #f9f9f9;
    color: #333;
    overflow-y: hidden;
  }
  .main-abt{
    background-color:#080d27 ;
  }
  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .accordion {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .accordion-item {
    margin-bottom: 1rem;
  }
  
  .accordion-button {
    width: 100%;
    padding: 1rem;
    text-align: left;
    background-color: #080d27;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .accordion-button:hover {
    background-color:#a7c4eb ;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #ffffff;
    padding: 0 1rem;
  }
  
  .accordion-content.active {
    max-height: 200px; /* Adjust if needed */
    padding: 1rem;
  }
  
  .accordion-content p {
    margin: 0;
  }
  